/* -------------------- CSS BY Palee Vang -------------------------------------- */
/*-------------------- CSS REST ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --color-dark: #0D0D0D;      
    --color-light: #F2F2F2;     
    --color-teal: #7ABFBF;      
    --color-teal-transparent: rgba(122, 191, 191, 0.5);
    --color-accent: #EB5428; 

    --font-bebas: 'Bebas Neue', sans-serif;
    --font-mont: 'Montserrat', sans-serif;
}

/* --------------------GLOBAL STYLES ( 414 px mobile first/small) --------------------*/

/* Typography */
h1 {
    font-family: var(--font-bebas);
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

h2 {
    font-family: var(--font-bebas);
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-family: var(--font-bebas);
    font-size: 25px;
}

p {
    font-family: var(--font-mont);
    font-size: 16px;
    line-height: 1.6;
}

li {
    font-family: var(--font-mont);
    font-size: 16px;
}

body {
    padding: 0px 10px;
    margin: 0px 40px;
    background-color: var(--color-teal-transparent);
}

main, header {
    background-color: var(--color-light);
    padding: 10px;
}

/* HEADER: Menu */
menu {
    display: flex;
    justify-content: space-around;
}

menu li {
    display: flex;
    flex-direction: column-reverse;  /* Stack text and SVG vertically */
    align-items: center;     /* Center-align both text and SVG */
    list-style: none;
    font-family: var(--font-bebas);
    font-weight: bolder;
    font-size: 20px;
    color: var(--color-accent);
}

/* HEADER: Taco Text */
#taco-text img {
    width: 107%; /* Make the image span the entire viewport width */
    margin-left: -10px; /* Negate the body padding on the left */
    margin-right: -10px; /* Negate body padding on the right */
}

#taco-text p {
    margin-bottom: 16px;
}

/* MAIN: Details Section */
#details {
    margin-bottom: 20px;
}

strong {
    margin-right: 10px;
}

/* MAIN: Ingredients Section */
#ingredients {
    margin-bottom: 20px;
}

#ingredients ul {
    list-style-type: square;
    padding-left: 20px
}

#ingredients ul li {
    margin-bottom: 20px;
}

/* MAIN: Directions Section */
#directions ol {
    list-style-type: decimal;
    padding-left: 20px;
}

#directions ol li {
    padding-left: 10px;
    padding-bottom: 20px;
    line-height: 1.6;
}

/* Side Dishes Section */
aside {
    padding: 10px;
    background-color: var(--color-teal);
}

#aside-h2 {
    margin-bottom: 40px;
}

.sides > img {
    grid-column: 1;
    grid-row: 1 / 3;          /* Span the image over 3 rows */
    width: 100%;
}

.sides {
    display: grid;
    grid-template-columns:  100px 1fr;
    grid-template-rows: 40px auto;
    column-gap: 20px;
    margin-bottom: 40px;
}

#sides-tort {
    margin-bottom: 0; 
}

/* Navigation */
nav {
    font-family: var(--font-mont);
    font-size: 16px;
}

nav a {
    font-family: var(--font-bebas);
    font-size: 20px;
}

nav span {
    font-family: var(--font-bebas);
    font-size: 20px;
}

/* Form */
input {
    font-family: var(--font-mont);
    font-size: 16px;
}

/* FOOTER */
footer {
    font-family: var(--font-bebas);
    font-size: 20px;
    margin-top: 80px;
    background-color: var(--color-light);
}

#social li {
    font-family: var(--font-bebas);
    font-size: 20px;
    color: var(--color-accent);
}

#social {
    display: flex;
    justify-content: space-around;
}

#social li {
    display: flex;
    flex-direction: column-reverse;  /* Stack text and SVG vertically */
    align-items: center;     /* Center-align both text and SVG */
    list-style: none;
}

#ft-last {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 40px;
}

#ft-last img {
    width: 60%;
    margin-bottom: 30px;
}

.footer-p {
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

/*-------------------- MEDIA QUERY (768 px medium) --------------------------------*/

/*-------------------- MEDIA QUERY (1280 px large) ------------------------------------*/